@model IEnumerable<DAL.Track_Person_Role>

@{
    ViewBag.Title = "Index";
}

<h2>Authors of @ViewBag.track.name</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.Track.Id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.role)
        </th>
        <th></th>
    </tr>

@{ int lastPersonId=0;}
@foreach (var item in Model)
{
    <tr>
       
        @if (lastPersonId != item.PersonId)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Person.name)
                @{lastPersonId = item.PersonId;}
            </td>
        }else
        {
           <td style="border-top-width:0"></td>
        }

        <td>
            @Html.DisplayFor(modelItem => item.Role.role)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Back to Track", "Index", "Track")
<i class="glyphicon glyphicon-road"></i>