@model IEnumerable<DAL.Track>

@{
    ViewBag.Title = "Index";
}

<h2>Tracks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extention)
        </th>
        <th></th>
    </tr>

@foreach (var track in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => track.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => track.length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => track.Extention)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=track.Id }) |
            @Html.ActionLink("Details", "Details", new { id=track.Id }) |
            @Html.ActionLink("Genres", "Index", "Track_Genre", new { id = track.Id }, null) |
            @Html.ActionLink("Authors","Index", "Track_Person_Role", new { id = track.Id }, null) |
            @Html.ActionLink("Delete", "Delete", new { id=track.Id })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Get CSV", "GetCSV")
<hr />
<p>Insert Bulk from CSV</p>
@using (Html.BeginForm("SetCSV", "Track", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <textarea name="csvtxt"></textarea>
    <input type="submit" value="OK" />
}