@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Music Application</h1>
    <p class="lead">ASP.NET is a free web framework for building great Music Web applications using HTML, CSS, JavaScript and your imagination with the power of love.</p>
</div>

@*@Html.ActionLink("linktext", "actionname", "controllername");*@
<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <h2>Track</h2>
        <p>
            It's all about the Tracks
        </p>
        <p>@Html.ActionLink("Tracks", "Index", "Track", null, new { @class= "btn btn-primary"})</p>
    </div>

    <div class="col-md-2">
        <h2>Album</h2>
        <p>
            Albums give tracks a place to come home.
        </p>
        <p>@Html.ActionLink("Albums", "Index", "Album", null, new { @class = "btn btn-primary" })</p>
    </div>

    <div class="col-md-2">
        <h2>Person</h2>
        <p>
            Without Persons a track is just a track.
        </p>
        <p>@Html.ActionLink("Persons", "Index", "Person", null, new { @class = "btn btn-primary" })</p>
    </div>

    <div class="col-md-2">
        <h2>Role</h2>
        <p>
            Without Role a person is just a persone.
        </p>
        <p>@Html.ActionLink("Roles", "Index", "Role", null, new { @class = "btn btn-primary" })</p>
    </div>

    <div class="col-md-2">
        <h2>Genre</h2>
        <p>
            Tracks come in all shapes and sizes and each of them can have a part in a limitless combination of different genres.
        </p>
        <p>@Html.ActionLink("Genres", "Index", "Genre", null, new { @class = "btn btn-primary" })</p>
    </div>
</div>