@model IEnumerable<DAL.Track_Genre>

@{
    ViewBag.Title = "Genres";
}

<h2>Genres of @ViewBag.Track.name</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.Track.Id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.genre.genreName)
        </th>
        <th></th>
    </tr>

@foreach (var t_a in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => t_a.genre.genreName)*@
            @Html.ActionLink(t_a.genre.genreName,"Details","Genre", new { Id = t_a.GenreID}, null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=t_a.Id })
            @using (Html.BeginForm("Delete", "Track_Genre", new { id = t_a.Id }, FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-xs btn-default" />
                </div>
            }
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to Track", "Index", "Track")
<i class="glyphicon glyphicon-road"></i>
